<div class="au-time-picker">
  <label for="time">Time input</label>
  <div class="au-time">
    <div class="au-time__input-wrapper">
      <input type="text" class="au-time__input">
      <button type="button" class="au-time__toggle">
        <svg class="au-time__toggle-icon" fill="none" stroke="currentColor" viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>
        <span class="au-time__vhidden">
          "choose time"
          <span>Selected time is 13:43:24</span>
        </span>
      </button>
      <div class="au-time__dialog">
        <div class="au-time__dialog-content">
          <div class="time-input_li">
            <label for="hours"></label>
            <input id="hours" class="time-input_single" type="number" value="1" name="" id="">
          </div>
          <div class="time-input_li">
            <label for="minutes"></label>
            <input id="minutes" class="time-input_single" type="number" value="1" name="" id="">
          </div>
          <div class="time-input_li">
            <label for="seconds"></label>
            <input id="seconds" class="time-input_single" type="number" value="1" name="" id="">
          </div>
        </div>
      </div>
    </div>
  </div>

</div>